body {margin:0}
header{
  width: 1300px;
  height: 400px;
  color: #222;
  font-family: 'Abril Fatface', cursive;
  background-image: url("http://stayathome-syllabus.greenfox.academy/week01/assets/first-website-header.png");
  background-position: center;
  margin: 0 auto;
  background-size: cover;
  position: relative;
  }
.headtext{
  line-height: 10px;
  position: absolute;
  bottom: 40px;
  left: 300px;  
}
h1{font-size: 70px;}
h2 {font-size: 35px;}


main{
  width: 650px;
  margin: 50px auto;
  font-family: 'Josefin Sans', sans-serif;
  
  font-size: 18px;
  color: #222;
  line-height: 1.5;
  }

ul{list-style-type: square;}


blockquote{
  width: 650px;
  background: #222;
  color: white;
  margin: 0 auto;
  font-family: 'Abril Fatface', cursive;
  font-size: 45px;
  padding: 60px 50px;
  position: relative;
  }
blockquote::before {
  color: white;
  content:"\201C";
  font-family: 'Abril Fatface', cursive;
  font-size: 150px;
  position: absolute;
  top: -40px;
  left: 0px;
  }

.part2, .part3 {
  width: 650px;
  margin: 50px auto;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  color: #222;
  line-height: 1.5;
}
h3{
  text-transform: uppercase;
  font-size: 28px;
  margin: 50px 0;
}
h4{
  font-size: 22px;
  margin-bottom: 0;
  margin-top:40px;
}
.text2{margin-top: 20px}
h5{
  margin:0;
  font-style: italic;
  font-size: 15px;
  font-family: ‘Merriweather’, cursive;
}
.part3 {border-top: 5px solid black}